<h1>Users</h1>
<% @users.each do |user| %>
  <%= link_to user.email, user_path(user) %><br>
<% end %>


<% content_for :js do %>
  <script type="text/javascript">
    // alert("You have reached the Users Index, msg provided by JavaScript.")
  </script>
<% end %>