<div class="container">
  <div class="row">
    <div class="col-xs-2">
      3
    </div>
    <div class="col-xs-10">
      <div class="row">
        <div class="col-sm-12">
            Research complete
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div>Protocol and data</div>
          <div>
            <ul>
              <li>...</li>
              <li>...</li>
              <li>...</li>
            </ul>
          </div>
        </div>
        <div class="col-sm-4">
          <div>Ethics/governance and regulatory</div>
          <div>
            <ul>
              <li>...</li>
              <li>...</li>
              <li>...</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

























  </div>
</div>